nav {
    background-color: rgb(84, 116, 165);
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000;
    height: 80px;
}


body {
    margin-top: 60px;
    align-items: center;
    background-image: url('Asset/Background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

ul li img {
    height: 40px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    padding: 20px 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    width: fit-content;
    transition: transform 0.25s ease, font-size 0.25s ease;
}

nav a:hover{
    transform: scale(1.2);
    border-radius: 20px;
    background-color: white;
    color: black;
}

nav a.active{
    border-radius: 20px;
    background-color: white;
    color: black;
}

.section1 {
    width: 90%;
    height: 500px;
    max-width: 1000px;
    margin: 0% auto;
    margin-top: 60px;
    background-color: white;
    text-align: justify;
    padding: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: inset;
    box-shadow: 3px 3px 3px 2px black;
    margin-bottom: 40px;
}

.container1-2 {
    display: flex;
}

.section1 img{
    width: 30%;
    height: fit-content;
    margin-left: 40px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
}

.section2 {
    width: 90%;
    max-width: 1000px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% auto;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: inset;
    box-shadow: 3px 3px 3px 2px black;
    background-color: white;

}

.section2 img{
    width: 150px;
    height: 150px;
        background-color: white;

}

.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0% auto;
}

.row1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.section3 {
    justify-content: center;
}

.footer {
    padding-top: 20px;
    background-color: black;
    height:1000px;
    align-items: center;
    text-align: center;
    margin: 0% auto;
    color: white;
}
